@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #85f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.screen {
  height: 4rem;
  margin-bottom: 4rem;
}

.wrapper {
  background: #eeee07;
  width: 20rem;
  padding: 1rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 20px -3px rgba(0,0,0,0.1);
}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
}

.button {
  background: #54b559;
  height: 3.5rem;
  padding: 10px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #f80202;
  border: none;
  font-size: 1.6rem;
}

.button:hover {
  border: 2px dotted #cd3232;
}

.equals {
  background: #7fe17e;
  grid-column: 4/5;
}

.opt {
  background: #00ff0d;
}